<script defer src="/js/home.js"></script>
<link rel="stylesheet" type="text/css" href="/style/samples.css">

<section class="panel samples-panel">

<h1>Tension y pulso</h1>
<h2>Hoy a las 12:23</h2>
<ul class="sp-last">
	<li>
		<span class="sp-last-section sp-last-value">128</span>
		<span class="sp-last-section sp-last-unit">mmHg</span>
	</li>
	<li>
		<span class="sp-last-section sp-last-value">76</span>
		<span class="sp-last-section sp-last-unit">mmHg</span>
	</li>
	<li>
		<span class="sp-last-section sp-last-value">68</span>
		<span class="sp-last-section sp-last-unit">rpm</span>
	</li>
</ul>
<button class="sp-button" id="sp-button">
	+ Añadir medida
</button>
<h1>Historico</h1>
<ul class="sp-history">
	<li>
		<span class="sp-history-section sp-history-time">22 de Septiembre, 2015</span>
		<span class="sp-history-section sp-history-value">123/67/67</span>
	</li>
	<li>
		<span class="sp-history-section sp-history-time">22 de Septiembre, 2015</span>
		<span class="sp-history-section sp-history-value">123/67/67</span>
	</li>
	<li>
		<span class="sp-history-section sp-history-time">22 de Septiembre, 2015</span>
		<span class="sp-history-section sp-history-value">123/67/67</span>
	</li>
	<li>
		<span class="sp-history-section sp-history-time">22 de Septiembre, 2015</span>
		<span class="sp-history-section sp-history-value">123/67/67</span>
	</li>
	<li>
		<span class="sp-history-section sp-history-time">22 de Septiembre, 2015</span>
		<span class="sp-history-section sp-history-value">123/67/67</span>
	</li>
	<li>
		<span class="sp-history-section sp-history-time">22 de Septiembre, 2015</span>
		<span class="sp-history-section sp-history-value">123/67/67</span>
	</li>
	<li>
		<span class="sp-history-section sp-history-time">22 de Septiembre, 2015</span>
		<span class="sp-history-section sp-history-value">123/67/67</span>
	</li>
</ul>
<!-- <a href="http://localhost:5000/users/{{username}}/samples">SAMPLES</a> -->
</section>

