<script defer src="/js/samples.js"></script>
{{#if samples}}
<div class="container">
  <h1>Datos del usuario {{username}} </h1>
  <ul>
    {{#samples}}
        <li> El valor es {{value}}</li>
    {{/samples}}
  </ul>
</div>
{{/if}}