<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="pragma" content="no-cache"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>{{title}}</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/style/fonts/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/style/reset.css">
    <link rel="stylesheet" type="text/css" href="/style/home.css">
    <!-- Scripts -->
    <script defer src="/js/app.js"></script>

  </head>

  <body role="application" class="landscape">
    <div id="header">
      <button id="h-menu-button"></button>
    </div>
    <div id="scrollable">
      {{{body}}}
    </div>
    <div id="menu-background"></div>
    <div id="menu">
     <!--  <header id="m-header">
        Menu
      </header> -->
      <div id="m-user">
        <span class="m-user-photo">
          <img src="/style/images/borja.jpeg">
        </span>
        <span class="m-user-name">BORJA SALGUERO</span>
      </div>
      <ul id="m-options">
        <li id="m-options-pulse">
          Tension y pulso
        </li>
        <li id="m-options-settings">
          Ajustes
        </li>
        <li id="m-options-exit">
          Salir
        </li>
      </ul>
    </div>
  </body>
</html>
