.samples-panel {
  background: #FF3939;
  overflow: scroll;
}

.panel h1 {
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 300;
  font-size: 2.2rem;
  text-align: center;
  background: rgba(255, 255, 255,.3);
  margin-top: 0rem;

}

.panel h2 {
  padding: 0rem 2rem 1rem 2rem;
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  background: rgba(255, 255, 255,.3);
  margin-bottom: 2rem;
  /*margin-top: 0rem;
  margin-bottom: 2rem;*/
}

.sp-last li {
  height: 6rem;
}

.sp-last-section {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.sp-last-value {
  text-align: right;
  font-size: 6rem;
  height: 100%;
  line-height: 6rem;
  /*background: green;*/
}

.sp-last-unit {
  text-align: left;
  vertical-align: bottom;
  /*background: red;*/
  height: 100%;
  line-height: 8.5rem;
  font-size: 2rem;
}

.sp-button {
  margin-top: 2rem;
  background: rgba(255, 255, 255,.8);
  width: 100%;
  border: none;
  height: 6rem;
  font-size: 2.2rem;
  color: #FF3939;
  margin-bottom: 1rem;
}

.sp-button:active {
  color: rgba(255, 255, 255,.8);
  background: #FF3939;
}

.sp-history li {
  box-sizing: border-box;
  padding: 0 2rem;
  height: 5rem;
  background: rgba(0, 0, 0,.2);
}

.sp-history-section {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  line-height: 5rem;
}

.sp-history-time {
  width: 67%;
  font-size: 1.8rem;
}

.sp-history-value {
  width: 32%;
  font-size: 2.5rem;
  text-align: right;
}



/*
 * New sample panel
 */

body.new .new-sample-panel {
  display: block;
}

.new-sample-panel {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  background: grey;
  top: 0;
  padding-top: 7rem;
  box-sizing: border-box;
}

.new-sample-panel input {
  width: 100%;
  height: 7rem;
  border: none;
  background: transparent;
  font-size: 5rem;
  line-height: 7rem;
  text-align: center;
}

.new-sample-panel ::-webkit-input-placeholder {
  font-size: 3rem;
  color: pink;
}
.new-sample-panel ::-moz-placeholder { color:#f00; } /* firefox 19+ */
.new-sample-panel :-ms-input-placeholder { color:#f00; } /* ie */
.new-sample-panel input:-moz-placeholder { color:#f00; }

.new-sample-panel h1 {
  margin-bottom: 2rem;
}

.new-sample-panel button {
  background: white;
  width: 100%;
  border: none;
  height: 7rem;
  box-sizing: border-box;
  margin-top: 1rem;
  font-size: 3rem;
  line-height: 7rem;
}


/*
 * First time experience!
 */

.sp-first-time-image {
  margin-top: 2rem;
  height: 60%;
  width: 100%;
  background: url(images/corazon_white_grande.png);
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: center 90%;
  position: relative;
}

.sp-first-time-text {
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 3rem;
  position: absolute;
  bottom: top;
}